

<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="csrf-token" content="CVxtaLT6ThJF6H0LnoD66sIpST7WQzUfGU2objKb">
<title>PG recommendation System</title>
<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://bookmypg.co.in/assets/front/css/bootstrap.min.css"  />
<link rel="stylesheet" href="https://bookmypg.co.in/assets/front/css/animate.min.css"  />
<link rel="stylesheet" href="https://bookmypg.co.in/assets/front/css/font-awesome.min.css"  />
<link rel="stylesheet" href="https://bookmypg.co.in/assets/front/css/owl.carousel.min.css"  />
<link rel="stylesheet" href="https://bookmypg.co.in/assets/front/css/style.css"  />
<link rel="stylesheet" href="https://bookmypg.co.in/assets/front/css/responsive.css"  />

<link rel="shortcut icon" href="https://bookmypg.co.in/assets/front/images/favicon.png"/>









    



<body>

<div id="loader-holder">
  <div class="cssload-loader">Loading...</div>
</div>

	<header>
  <div class="top-head">
    <div class="container">
    </div>
  </div>
  <div class="menu-head">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="top-logo-holder text-white"> <h3>PG Recommendation    </h3></div>
          
		  <div class="top-menu-holder">
            <ul id="navigation" class="pull-right">
			  
              <li><a href="/">Home</a></li>
              <li><a href="/aboutus">About</a></li>
              <li><a href="/contactus">Contact Us</a></li>
			  
			  
            </ul>
            <div id="nav-icon" class=""> <span></span> <span></span> <span></span> <span></span> </div>
          </div>
		 
          <div class="top-number-holder">
            <p><a href="javascript:;"> +91-87782783</a> </p>
			
			<!--<img src="https://bookmypg.co.in/assets/front/images/client-img.jpg" alt="PG recommendation System" class="header-profile-image" >-->
			
          </div>
        </div>
      </div>
    </div>
  </div>
</header>





  
 

    

<!-- START CONTAINER -->

						
<section class="prop-listing-breadcrumb-container">
 <div class="container">
        <div class="row"> 
           <div class="col-12"> <a >Home</a><img src="https://bookmypg.co.in/assets/front/images/dropdown.svg" alt="download" /><span>Contact us</span>
            </div>
     </div>
    </div>
</section>


 <section class="contact-us">
    <div class="container">
          <div class="row align-items-center">
              <div class="col-md-8 wow fadeIn" data-wow-delay=".2s">
                  <h2 class="anim-left-title">IT’S EASY TO FIND US</h2>
                  <p>Please Feel  Free to Contact us for any PG Booking related Issues, Complaints and for any support needed for moving to the PG you have Booked through us.</p>
              </div>
          </div>
          <div class="row">
          <div class="contact-info col-md-5 col-12 mt-4 wow fadeIn" data-wow-delay=".4s">
            <div class="row clearfix">
                <!--Column-->
                <div class="column col-12">
                    <i class="fa fa-map-marker icon" aria-hidden="true"></i>
                    <h4>ADDRESS</h4>
                    <p>Inderprastha Engineering College, Ghaziabad, Uttar Pradesh</p>
                </div>
                <!--Column-->
                <div class="column col-12">
                    <i class="fa fa-phone icon" aria-hidden="true"></i>
                    <h4>PHONE</h4>
                    <p>+91-9870115809</p>
                </div>
                <!--Column-->
                <div class="column col-12">
                    <i class="fa fa-envelope icon" aria-hidden="true"></i>
                    <h4>EMAIL</h4>
                    <p>info@pgrecommendations.in</p>
                </div>
                
            </div>
        </div>
                 <div class="col-md-7 col-12 mt-4 wow fadeIn" data-wow-delay=".4s">
                    <form class="contact-form row" action="https://bookmypg.co.in/contactusstore" method="post" autocomplete="off" id="contactus_form">
                    <input type="hidden" name="_token" value="CVxtaLT6ThJF6H0LnoD66sIpST7WQzUfGU2objKb">   
          <div class="form-field col-6">
                            <label>Name</label>
                            <input type="text" name="name" id="name" title="Please enter name" required maxlength="50"/>
                            <div class="form-control-border"></div>
                        </div>
          
                        <div class="form-field col-6">
                            <label>Email</label>
                            <input type="text" name="email" id="email" title="Please enter email" required maxlength="510"/>
                            <div class="form-control-border"></div>
                        </div>
          
                        <div class="form-field col-6">
                            <label>Mobile</label>
                            <input type="text"  name="mobile" id="mobile" title="Please enter mobile" required maxlength="10"/>
                            <div class="form-control-border"></div>
                        </div>
          
                        <div class="form-field col-6">
                            <label>City</label>
                            <input type="text" name="city" id="city" title="Please enter city" required maxlength="50"/>
                            <div class="form-control-border"></div>
                        </div>
          
          <div class="form-field col-12">
                            <label>Enquiry Type</label>
                            <select required class="select2me form-control" id="enquiry_type" name="enquiry_type" placeholder="Please select enquiry type" title="Please select enquiry type">
            <option value="">---Select---</option>
            <option value="Pg Booking">Pg Booking</option>
            <option value="Customer Service">Customer Service</option>
            <option value="Complaints">Complaints</option>
            
            </select>
                            <div class="form-control-border"></div>
                        </div>
          
                        <div class="form-field col-12">
                            <label>Message</label>
                            <textarea type="text" name="message" id="message" title="Please enter message" required maxlength="350"></textarea>
                            <div class="form-control-border"></div>
                        </div>
                        <button class="btn btn-primary" disabled>SUBMIT</button>
        </form>
                </div>
          </div>
     
 </div>
</section>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.089955344103!2d80.24574731484941!3d12.966095418507154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525d1342437c59%3A0xc8a5e10d982f26ca!2sBrigade%20Vantage!5e0!3m2!1sen!2sin!4v1573196026973!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

        
<!-- END CONTAINER -->

<!-- BEGIN FOOTER -->
  <style>
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-top: 1px solid rgb(255, 255, 255);
}

.keywords {
	margin-bottom: 4px;
}

</style>

<section class="CityBlocker">
  <div id="allcityArea" class="cityArea" data-wow-delay=".2s">
    <div class="fullscreenWrapper">
      <div class="mobScrollArea">
        <div class="citynameContainer animated">
          <p class="heading anim-left-title">I'm looking to rent a PG in</p>
          <div class="box-selector">
            <div class="cityButton active" filter-city-value='Chennai'>Chennai</div>
			<div class="cityButton " filter-city-value=''>Bangalore</div>
			<div class="cityButton " filter-city-value=''>Hyderabad</div>
			<div class="cityButton " filter-city-value=''>Mumbai</div>
			<div class="cityButton " filter-city-value=''>New Delhi</div>
            <div class="cityButton " filter-city-value=''>Pune</div>
            
          </div>
        </div>
        <div class="genderContainer animated">
          <p class="heading anim-left-title">For</p>
          <div class="box-selector">
            <div class="genderButton " filter-gender-value='boys'>boys</div>
            <div class="genderButton " filter-gender-value='girls'>girls</div>
          </div>
        </div>
      </div>
      <div class="footerAction">
        <div class="Button FlatButton btn-style-01">CANCEL </div>
        <div class="Button PrimeButton btn-style-02">UPDATE </div>
      </div>
    </div>
  </div>
</section>




 
<!-- END FOOTER -->
	
<script src="https://bookmypg.co.in/assets/front/js/jquery-3.4.1.min.js"  ></script> 
<script src="https://bookmypg.co.in/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="https://bookmypg.co.in/assets/front/js/owl.carousel.min.js"  ></script> 
<script src="https://bookmypg.co.in/assets/front/js/bootstrap.min.js"  ></script> 
<script src="https://bookmypg.co.in/assets/front/js/wow.min.js"  ></script> 
<script src="https://bookmypg.co.in/assets/front/js/script.js"  ></script>

<!-- <script src="https://bookmypg.co.in/assets/global/plugins/jquery.min.js" type="text/javascript"></script>-->
<script src="https://bookmypg.co.in/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="https://bookmypg.co.in/js/common/validations/jquery.validate.js" type="text/javascript"></script>
<!--<script src="https://bookmypg.co.in/../node_modules/sweetalert/dist/sweetalert.min.js" type="text/javascript"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" type="text/javascript"></script>


 





<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>