{% extends "layouts/baseA.html" %}

{% block title %} Admin's Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>	
.event a {
    background-color: #5FBA7D !important;
    color: #ffffff !important;
}
</style>
{% endblock stylesheets %}

{% block content %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">					
					<table style="width:100%;padding: 25px; margin: 0 auto; font-family:'Open Sans', 'Helvetica', 'Arial';">
						<tr>
							<td>
								<h1>Dashboard</h1>
							</td>
							<td align="right"> 
								<table>
								<tr>
								<td><img style="width:20px;" src="/static/assets/images/icon/calendar.png" alt="activity-user">&nbsp;&nbsp;&nbsp;</td>			
								<td><h3>{% now "l,   M: d-Y" %}</h3></td>
								</tr>
								</table>
							</td>
						</tr>
					</table>
					<hr>
					<br><br>
                        
					<div class="row">
						<div class="col-md-6 col-xl-4">
							<div class="card daily-sales col-9" >
								<div class="card-block">
									<h6 class="mb-4">Total Properties</h6>
									<div class="progress-circle p10">
										<span> {{ total_prop }}</span>
										<div class="left-half-clipper">
											<div class="first50-bar"></div>
											<div class="value-bar"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-xl-4">
							<div class="card daily-sales col-9" >
								<div class="card-block">
									<h6 class="mb-4">People Contacted</h6>
									<div class="progress-circle p25">
										<span>25</span>
										<div class="left-half-clipper">
											<div class="first50-bar"></div>
											<div class="value-bar"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-xl-4">
							<div class="card daily-sales col-9" >
								<div class="card-block">
									<h6 class="mb-4">Total Impressions</h6>
									<div class="progress-circle p50">
										<span> 50</span>
										<div class="left-half-clipper">
											<div class="first50-bar"></div>
											<div class="value-bar"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="piechart"></div>
					<br/>
					<h3 class="mb-4">Monthly Interaction Statistics</h3>
					<canvas id="myChart" style="width:100%;max-width:1065px;height:450px"></canvas>
				
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script>




// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Total', 'Per Day'],
  ['Total Visits', 25],
  ['People Contacted', 25],
  ['Total Impressions', 50],

]);

  // Optional; add a title and set the width and height of the chart
  var options = {'title':'Daily Recommendation Analysis', 'width':1065, 'height':400};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}



$( function() {
    // An array of dates
    var eventDates = {};
    eventDates[ new Date( '11/22/2021' )] = new Date( '11/22/2021' );
    
    // datepicker
    $('#datepicker').datepicker({
        beforeShowDay: function( date ) {
            var highlight = eventDates[date];
            if( highlight ) {
                 return [true, "event", 'Tooltip text'];
            } else {
                 return [true, '', ''];
            }
        }
    });
});


	var xValues = [50,60,70,80,90,100,110,120,130];
	var yValues = [7,12,19,19,19,22,24,25,27,30,30];
	
	new Chart("myChart", {
	  type: "line",
	  data: {
		labels: xValues,
		datasets: [{
		  fill: false,
		  lineTension: 0,
		  backgroundColor: "rgba(0,0,255,1.0)",
		  borderColor: "rgba(0,0,255,0.1)",
		  data: yValues
		}]
	  },
	  options: {
		legend: {display: false},
		scales: {
		  yAxes: [{ticks: {min: 6, max:30}}],
		}
	  }
	});


</script>

{% endblock javascripts %}
