

<!DOCTYPE html>
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>PG Recommendation</title>
<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

<link rel="icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
<!-- fontawesome icon -->
<link rel="stylesheet" href="/static/assets/fonts/fontawesome/css/fontawesome-all.min.css">
<!-- animation css -->
<link rel="stylesheet" href="/static/assets/plugins/animation/css/animate.min.css">
<!-- vendor css -->
<link rel="stylesheet" href="/static/assets/css/style.css">
<!-- circular-prog-bar css -->
<link rel="stylesheet" href="/static/assets/css/css-circular-prog-bar.css" rel="stylesheet">
<!--DatePicker-->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
</head>
<body>
	
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#014073;">
    <a class="navbar-brand" href="#"  style="background-color:#014073;">PG Recommendations</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutus">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contactus">Contact</a>
        </li>

      </ul>
    </div>
  </nav>
<div class="container" style="padding:5% 10%; font-family:poppins,sans-serif;">
<div class="row">
<div >
<h2 style='text-align:center;color:#014073;'>Guest policy</h2>
<hr style="background-color:#014073; width:250px; border:2px solid #014073; ">
<br>
<br>
<p ><div><div style='color:#014073;text-align:justify;font-size:1.3em;'>«&nbsp; The guest who makes the booking and is the primary guest must be
above the age of 18 years and of legally a sound mind to enter into the
contract.

</div>
<div style='color:#014073; text-align:justify; font-size:1.3em;'>
<br>

«&nbsp; As mandated by the government and us, it is imperative that all
guests above the age of 18 have valid photo ID cards issued by the Government
of India. A valid ID card may be a driving license, Aadhaar card, passport, or
voter ID card. No such guest without an ID card would be allowed to check-in.
</div>

<div style='color:#014073; text-align:justify; font-size:1.3em;'>
<br>
«&nbsp; Each property may have specific rules which the guest must enquire
about and abide with under all circumstances. Such rules are not our
responsibility to cover and we thus cannot be held liable to them by the guest
being unaware.
</div>


<br>

<div style='color:#014073; text-align:justify; font-size:1.3em;'> 

«&nbsp; After due investigation and chance to prove their side, if the behavior
of a guest is found to be inappropriate by the host or as reported to the host,
the host reserves the right to take needed action against the guest. This
action may include but is not limited to fine or serving of notice. We will not
be made a party to such disputes between the hosts and guests.</div><div style='color:#014073; text-align:justify; font-size:1.3em;'><br>

«&nbsp; Timing policies may differ from property to property and host to
host and it is on the guest to follow the laid down policies.</div><div style='color:#014073; text-align:justify; font-size:1.3em;'><br>

«&nbsp; It is imperative that the guest keeps the property in good hygienic
conditions and apart from regular wear and tear all damages will be paid for by
the guest.</div><div style='color:#014073; text-align:justify; font-size:1.3em;'><br>

«&nbsp; Listed amenities on any property may not specifically apply to the
room/ bed of the guest and the same needs to be confirmed by the guest with the
host.

</div><br><div style='color:#014073; text-align:justify; font-size:1.3em;'>

«&nbsp; As much as we wish to have real-time images and details of all
properties, all details are impossible to list and show. It is thus advised for
the guest to contact the host and even visit the property before booking as
this is not the liability of ours if there is any misunderstanding at a later
stage. As per the cancellation policy, no refund will be liable if the guest
cancels on check-in unless as specified.

</div><div><br></div><div style='color:#014073; text-align:justify; font-size:1.3em;'>

«&nbsp; We advise guests to get in touch at the earliest if there is an
element of fraud or misrepresentation noted by them. We advise them strongly to
contact us but also the correct authorities if they ever feel that their safety
is in jeopardy. Our customers and especially their safety is primary to us and
we will take strict and concrete action against anyone indulging in fraud or unsafe
practices.

</div><div><br></div><div style='color:#014073; text-align:justify; font-size:1.3em;'>

«&nbsp; You can reach our customer care through +91-9999999999,&nbsp;<a target="" rel="">info@pgrecommendation.co.in</a></div><div><br></div><div style='color:#014073; text-align:justify; font-size:1.3em;'>

«&nbsp; We reserve the right to refer to all disputes with us by the guests
to the High Court of&nbsp;specific state which has the final jurisdiction in such matters.</div></div></p>                
</div>
</div>
</body>
</html>