{% extends "layouts/baseM.html" %}

{% block title %} Member's Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}    
	<h3>Show Property</h3>
						
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
						<div class="col align-center flex-col sign-up">
							<div class="form-wrapper align-center">
							{% for props in prop %}
								{% if props.id == prop_id %}
									<table class="table" border="1" width="100%">
									<tr>
									<td>
										<table style="border:none;">
											<tr>
												<td>
										<strong>House Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
												</td>
												<td>
										{{props.house_name}} 
									</td>
										{% comment %} <br><br> {% endcomment %}
										<tr>
											<td>
												<strong>Address:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
											</td>
											<td>
										{{props.address}} 
											</td>
										</tr>
										
										<tr>
											<td>
										<strong>Rent:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
											</td>
											<td>
										{{props.rent}} 
										<td>
										
										<tr>
											<td>
												<strong>Facilities Available:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
											</td>
											<td>
										{{props.facility}} 
											</td>
										</tr>
										
										<tr>
											<td>
										<strong>PG Type:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
									</td>
									<td>
										{{props.pg_type}} 
									</td>
								</tr>
									
										<tr>
											<td>
										<strong>Number Of Rooms:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
									</td>
									<td>
										{{props.no_of_rooms}} 
									</td>
								</tr>
										<br>
										<tr>
											<td>
										<strong>Nearby Facilities:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
											</td>
											<td>
										{{props.near_by_facilities}}
											</td>
										</tr>
										</table>
									</td>
									<td>
										<a href=""><img class="" style="width:300px;height:200px;" src="/static/assets/images/user/{{props.image}}"></a>
										<br><br>
										<div >
										<a href="https://www.uber.com/" target="_blank"><button name="bookCab" value="bookCab" class="btn btn-success">Book Cab</button></a>
										<a href="https://www.sbiepay.sbi/secure/home" ><button name="payOnline" value="payOnline" class="btn btn-warning">Pay Online</button></a>
										<div>
									</td>
									<tr>
									</table>
								{% endif %}
							{% endfor %}                           
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
